* {
    box-sizing: border-box;
}
/* background: #8A2387;
       background: linear-gradient(to right, #F27121, #E94057, #8A2387);
 */

h1 {
    color: #f98807;
    font-family: "Julius Sans One", sans-serif;
    font-size: 50px;
    line-height: 160px;
    font-weight: normal;
    /* margin-bottom: 30px; */
    margin-top: 60px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}
h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 58px;
    /* margin: 0 0 58px; */
}

input {
    width: 250px;
    height: 45px;
    margin-left: 10px;
    border-radius: 12px;
    font-size: large;
}

img {
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
}

.container {
    display: inline-block;
}

.box {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    border: brown 2px soild;
    width: 420px;
    height: 320px;
}

button {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    background-color: #ff0080;
}
button:hover {
    color: #ffff;
    background-color: #f98807;
    font-size: 13px;
    font-weight: bolder;
}
.bubbly-button {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 0.8em 2em;
    margin-top: 100px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0080;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 5px 25px rgba(255, 0, 130, 0.5);
}

#file {
    font-family: "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    /* background-color: red; */
    font: red;
}
